.newsfeed {
  margin-right: 15px;
  color: white;
  display: inline;
}
.another-feedback {
  color: white;
  display: inline;
  text-align: center;
}
.header {
  background-color: #404040;
  padding: 25px 0px 30px 20px;
  margin-bottom: 20px;
}
.maindiv {
  margin-left: 15px;
}
.footer {
  background-color: #97a1b0;
  padding: 15px;
  text-align: center;
}
.continue-reading {
  background-color: #ff6666;
  padding: 10px;
  margin-top: 11px;
  border-width: 0px;
  color: white;
  border-radius: 10px;
}
.continue-reading:hover {
  background-color: crimson;
  cursor: pointer;
}
.dropdown {
  width: 210px;
  height: 30px;
  margin-top: 10px;
}
.input {
  width: 130px;
  height: 27px;
  float: left;
}
.subscribe-button {
  width: 65px;
  height: 33px;
  background-color: black;
  color: white;
  border: 0px;
}
.flex-container {
  display: flex;
}
.flex-container .logo {
  width: 200px;
  margin: 10px;
  text-align: center;
}
.flex-container .content {
  width: 1000px;
  margin: 10px;
}
.flex-container .category {
  width: 200px;
  margin: 10px;
  text-align: center;
}
.logo-image {
  height: 200px;
  width: 200px;
}
#popup {
  position: fixed;
  height: 200px;
  width: 200px;
  bottom: 50%;
  right: 50%;
  top: 50%;
  border: 2px solid;
  background: #ffffff;
  border-radius: 10px;
}

#popUpContent {
  text-align: center;
}
#close {
  height: 30px;
}
