<div class="login-container">
  <form #loginForm="ngForm">
    {{ loginForm.value | json }}
    <div class="form-container">
      <div class="form-column">
        <label>UserName</label
        ><input type="text" name="userName" [(ngModel)]="user.UserName" />
      </div>
      <div class="form-column">
        <label>Password</label
        ><input type="password" name="Password" [(ngModel)]="user.Password" />
      </div>
      <button (click)="validateUser()">Submit</button>
    </div>
  </form>
  <br />
  <strong class="invalid-user-message">{{ errorMessage }}</strong>
</div>
