.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  height: 50px;
  width: 50px;
}
.login {
  border-radius: 5px;
  height: 30px;
  align-self: center;
  font-size: 15px;
  text-align: center;
}
.login:hover {
  cursor: pointer;
  background-color: aquamarine;
}
